<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibLog" version="4.2.4" targetFramework="net4" developmentDependency="true" />
  <package id="MSBuild.NugetContentRestore" version="0.1.6" targetFramework="net40" />
  <package id="Platform.NET" version="1.2.0.274-rc1" targetFramework="net452" />
  <package id="Platform.Xml.Serialization" version="1.2.0.274-rc1" targetFramework="net452" />
</packages>