<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotConnect.Express.for.PostgreSQL" version="7.4.602" targetFramework="net452" />
  <package id="Platform.NET" version="1.2.1.276" targetFramework="net452" />
  <package id="Platform.Xml.Serialization" version="1.2.1.276" targetFramework="net452" />
</packages>