<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotConnect.Express.for.PostgreSQL" version="7.4.506" targetFramework="net4" />
  <package id="Platform.NET" version="1.1.0.214" targetFramework="net4" />
  <package id="Platform.Xml.Serialization" version="1.1.0.214" targetFramework="net4" />
</packages>