<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySql.Data" version="6.9.7" targetFramework="net40" />
  <package id="Platform.NET" version="1.1.0.204" targetFramework="net40" />
  <package id="Platform.Xml.Serialization" version="1.1.0.204" targetFramework="net40" />
</packages>