<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="12.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <UsingTask TaskName="AsyncRewriterTask" AssemblyFile="$(MSBuildThisFileDirectory)Shaolinq.AsyncRewriter/bin/$(Configuration)/Shaolinq.AsyncRewriter.dll" />
  <PropertyGroup>
    <WithoutGeneratedIncludePattern>@(Compile)</WithoutGeneratedIncludePattern>
    <WithoutGeneratedExcludePattern>**\Generated*.cs</WithoutGeneratedExcludePattern>
  </PropertyGroup>
  <ItemGroup>
    <SourceWithoutGenerated Include="$(WithoutGeneratedIncludePattern)" Exclude="$(WithoutGeneratedExcludePattern)">
      <InProject>False</InProject>
    </SourceWithoutGenerated>
  </ItemGroup>
  <Target Name="GenerateAsyncSource" DependsOnTargets="ResolveProjectReferences;ResolveAssemblyReferences">
    <AsyncRewriterTask Assemblies="@(_ResolveAssemblyReferenceResolvedFiles)" InputFiles="@(SourceWithoutGenerated)" OutputFile="GeneratedAsync.cs" />
  </Target>
  <Target Name="GenerateAsyncSourceBeforeBuild" BeforeTargets="BeforeBuild">
    <Exec Command="&quot;$(MSBuildToolsPath)\msbuild.exe&quot; /p:Configuration=$(Configuration) &quot;$(MSBuildProjectFullPath)&quot; /v:m /m:1 /p:BuildProjectReferences=false /target:GenerateAsyncSource" WorkingDirectory="." />
  </Target>
</Project>